a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

#contact_modal {
  display: none;
}
/* --------- Photograph Header --------- */
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  padding: calc(4%);
}

.photograph-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header div .photograph-header_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photograph-header p {
  /* display: flex;
  flex-direction: column; */
  padding-bottom: 4px;
  margin: 0;
}
.photograph-header_information h2 {
  color: #d3573c;
  font-size: 64px;
  font-weight: 400;
  /* justify-content: center; */
  display: flex;
  margin: auto;
}
.city {
  color: #901c1c;
  font-size: 24px;
  align-items: flex-start;
}
.tagline {
  color: #000000;
  font-size: 18px;
  text-align: left;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #c4c4c4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

/*---------- Sorting space or selected box ---------------*/
.photograph-sorting-gallery {
  margin: 0 100px;
}
/*---------- Gallery ---------------*/
.photograph-gallery {
  margin: 0 100px;
}
/*---------- Price and like space ------*/
.photograph-price {
  background-color: #db8876;
  padding: calc(1.2%) calc(2.5%);
  position: fixed;
  bottom: 0;
  right: 36px;
  font-weight: 500;
  font-size: 24px;
}

/* --------- Modal Form --------- */
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}
/* TODO: problème entre format de ce header 
et police, pas du tout flex */

/* This is the little design cross shape used as modal closure
TODO: est-ce qu'il porte le bon titre? */
.modal header img {
  cursor: pointer;
}

/* TODO: Pourquoi ce h2 n'est pas contraint par le header 
puisqu'il est dedans */
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* --------- Modal Lightbox --------- */
